.card-custom {
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid black;
}
.col-md-4{
    padding: 10px;
}
.row{
    padding: 10px;
}
.container{
    justify-content: center;
}
img{

    max-width: 50%;
}
@media (max-width: 768px) {
    .card-custom {
        width: 100%;  /* Las tarjetas tomarán el ancho completo en pantallas pequeñas */
    }
}
