<div class="container">
    <div class="row">
        <!-- Repite este bloque 30 veces -->
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="psicologa1.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vianey Rosas</h5>
                            <p class="card-text">Psicologa reconocida con más de 6 años de experiencia</p>
                            <p class="card-text"><small class="text-body-secondary">L-V de 2pm a 10pm</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fin de una tarjeta -->

        <!-- Copiar y pegar el bloque anterior 29 veces más -->
    </div>
</div>