.card-custom {
    width: 70%;
    border: 1px solid black;
}
.col-md-4{
    padding: 10px;
}
.row{
    padding: 10px;
}
.container{
    justify-content: center;
}
@media (max-width: 768px) {
    .card-custom {
        width: 100%;  /* Las tarjetas tomarán el ancho completo en pantallas pequeñas */
    }
}
