<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-custom">
                <img src="psicologa1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Vianey Rosas Grande</p>
                    <p class="card-text">Psicóloga educativa con más de 6 años de experiencia</p>
                    <p class="card-text">L-V de 2 - 10 PM</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-custom">
                <img src="psicologa1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Vianey Rosas Grande</p>
                    <p class="card-text">Psicóloga educativa con más de 6 años de experiencia</p>
                    <p class="card-text">L-V de 2 - 10 PM</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-custom">
                <img src="psicologa1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Vianey Rosas Grande</p>
                    <p class="card-text">Psicóloga educativa con más de 6 años de experiencia</p>
                    <p class="card-text">L-V de 2 - 10 PM</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-custom">
                <img src="psicologa1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Vianey Rosas Grande</p>
                    <p class="card-text">Psicóloga educativa con más de 6 años de experiencia</p>
                    <p class="card-text">L-V de 2 - 10 PM</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-custom">
                <img src="psicologa1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Vianey Rosas Grande</p>
                    <p class="card-text">Psicóloga educativa con más de 6 años de experiencia</p>
                    <p class="card-text">L-V de 2 - 10 PM</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-custom">
                <img src="psicologa1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Vianey Rosas Grande</p>
                    <p class="card-text">Psicóloga educativa con más de 6 años de experiencia</p>
                    <p class="card-text">L-V de 2 - 10 PM</p>
                </div>
            </div>
        </div>

        <!-- Resto de las tarjetas -->
    </div>
</div>
