<div class="contenedor-cards">
    <div class="card">
        <div class="precio"><h3>Consultoría psicológica</h3></div>
        <div class="info">    
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Sesión $400 MXN</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  1 sesión individual (presencial o en línea)</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Duración: 50 minutos</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Diagnóstico inicial y plan de tratamiento</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Recomendaciones personalizadas</h6>
            <p class="tips">💡 Ideal para quienes buscan probar la terapia o sesiones esporádicas.</p>
        </div>
    </div>

    <div class="card">
        <div class="precio"><h3>Orientación emocional</h3></div>
        <div class="info">    
            <h6 class="opc">Paquete mensual $1,200 MXN</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  4 sesiones al mes</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Seguimiento personalizado</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Materiales y ejercicios entre sesiones</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Soporte vía mensaje</h6>
            <p class="tips">💡 Para quienes buscan un proceso estructurado y constante.</p>
        </div>
    </div>

    <div class="card">
        <div class="precio"><h3>Acompañamiento Premium</h3></div>
        <div class="info">    
            <h6 class="opc">Plan intensivo $1,800 MXN</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Sesiones ilimitadas al mes</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Acceso a contenido exclusivo</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Soporte 24/7 vía chat</h6>
            <h6 class="opc"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828649.png" class="img">  Descuento en sesiones familiares</h6>
            <p class="tips">💡 Para quienes necesitan un seguimiento intensivo.</p>
        </div>
    </div>
</div>
