<div class="top" hidden="none"><p>Encuentra hoy a tu <strong>psicólogo ideal</strong> con nuestro <strong>Test de Afinidad Terapéutica</strong> ➔   👀</p></div>
<nav class="navbar navbar-expand-lg" style=" background-color: rgba(0, 102, 156, 0.706);">
    <div class="container-fluid">
      <a class="navbar-brand" ></a>
      <a class="navbar-brand" href="/">Orientando-me</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          
          <a class="nav-link active" href="/">Inicio</a>
          <a class="nav-link active" href="psicologos">Psicólogos</a>
          <a class="nav-link active" href="precios">Precios</a>
          <a class="nav-link active" href="contacto">Contactos</a>
          <a class="nav-link active" ></a>
          
        
        </div>
      </div>
    </div>
</nav>
 